{{>partials/head}}
<body>
    {{>partials/header}}
    {{#showWelcome}}
        <h2>Olá {{user}}!</h2>
    {{/showWelcome}}
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, accusantium 
        blanditiis sed fugit tempora exercitationem cumque impedit quisquam quaerat 
        voluptatibus unde aspernatur vel optio vitae possimus nesciunt atque eligendi 
        maxime.
    </p>
    <h3>Lista</h3>
    <ul>
        {{#products}}
            {{>partials/productItem}}
        {{/products}}
    </ul>
    <hr />
    <ul>
        {{#frases}}
            <li>{{.}}</li>
        {{/frases}}
        {{^frases}}
            <p>Nenhuma Lista será renderizada!!!</p>
        {{/frases}}
    </ul>

    <hr>
    <h3>Acima de R$12</h3>
    <ul>
        {{#products12}}
            {{>partials/productItem}}
        {{/products12}}
        
    </ul>
</body>
</html>